body{
  font-family:Inter,sans-serif;
}

.sidebar-btn{
  transition:.2s;
}

.sidebar-btn:hover{
  background:#f1f5f9;
}

.sidebar-btn.active{
  background:#166534;
  color:white;
}

.view-section{
  display:none;
}

.view-section.active{
  display:block;
}